<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="authy-desktop" version="2.2.1"/>
	<package id="microsoft-windows-terminal" version="1.15.2524.0"/>
	<package id="discord" version="1.0.9005"/>
	<package id="pycharm-community" version="2022.2.3"/>
	<package id="vscode" version="1.72.2"/>
	<package id="spotify" version="1.1.96.785"/>
	<package id="7zip" version="22.1"/>
</packages>